[build]
  command = "npm run build"
  publish = "dist"

[dev]
  framework = "#custom"
  command = "npm run dev"
  targetPort = 5173
  port = 8888
  publish = "dist"
  autoLaunch = true

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["iyzipay"]
